//主要配置了antd得配置
{
  "presets": [
    "stage-0",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-do-expressions",
    "syntax-do-expressions",
    ["import", { libraryName: "antd", style: true }]
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}