@import "../../style/ztao";

.no_auth {
  @include juzhong2();
  height: 100vh;
  font-size: 16px;
}
.react_home{
  text-align: center;
  padding-top: 80px;
  width: 100vw;
  font-size: 12px;
  a{
    color: $lanse;
    cursor: pointer;
  }
  >div{
    padding: 10px;
    border: $biankuang;
    margin: 5px 0;
  }
}
.react_home_list{
  >div{
    padding: 5px 0;
  }
}