@charset "UTF-8";
@import "rest";
@import "xiangmude";
@import "ani/index";
@import "static/anim";

#root {
  .ant-table {
    font-size: 13px;
  }
}

.html_loading {
  height: 100vh;
  text-align: center;
  padding: 20px 0;
  background: #23BCFF;

}

//antd
.ant-tree-title {
  span {
    font-size: 12px;
  }
}

//安痛定over
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: $huibg !important;
  color: #333333;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: $huibg !important;
}


//暂无数据
.none_data {
  height: 100%;
  width: 100%;
  display: block;
  color: #b4b4b4;
  min-height: 100px;
  @include hp(center, center);
}

.detail_head {
  text-align: center;
  font-size: 16px;
  color: #000;
  padding: 20px 0;
}

.detail_info {
  text-align: center;
  font-size: 12px;
  color: #7b7b7b;
  padding: 16px 0;
}

.detail_body {
  min-height: 200px;

  img {
    max-width: 100%;
  }
}

.loading {
  text-align: center;
  border-radius: 4px;
  padding: 30px 50px;
  margin: 20px 0;
}

.setting_body_role_btn {
  padding: 20px 0 10px 0;
  text-align: right;
}

.content_body {
  background: #fff;
  padding: 10px;
  min-height: 100%;
}

.yn_edu_wangpan_wait {
  text-align: center;
  height: 100%;
}

.not_found {
  position: relative;
  height: 400px;
  background: #fff;
  min-height: 100%;
}

#errorpage {
  width: 600px;
  text-align: center;
  padding: 80px 0;
  margin: 0 auto;
  height: 360px;
}

#errorpage p {
  font-size: 18px;
  font-weight: bold;
  padding-top: 30px;
}

#errorpage .bt a {
  background: #fe3a3b;
  padding: 9px 46px 11px;
  *padding: 7px 24px 9px;
  color: #fff;
  border: 0;
  font-size: 14px;
}

.errortans {
  margin: 0;
  text-align: left;
  float: left;
  z-index: 5;
  height: 300px;
  position: relative;
  padding: 80px 0 0 54px;
}

.errortans p {
  font-weight: normal;
  z-index: 10;
  position: relative;
}

.errortans p b {
  font-size: 38px;
}

.errortans div {
  margin-top: 30px;
}

#errorpage .logo {
  display: inline-block;
  float: left;
  height: 303px;
  width: 206px;
}

#errorpage .e404 {
  display: inline-block;
  position: absolute;
  top: -60px;
  left: 145px;
  height: 164px;
  width: 150px;
}


