@charset "UTF-8";
@import "rest";
@import "xiangmude";
@import "ani/index";
@import "static/anim";

.zhuye_li{
  @include hp2();
  >div{
    width: 300px;
    text-align: center;
  }
  img{
    width: 100%;
  }
}
